{{!< default is not needed here; this IS the default}}
<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{meta_title}}</title>

  <link rel="stylesheet" href="{{asset "built/screen.css"}}" />
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Jura:wght@300..700&display=swap" rel="stylesheet">

<!-- JSON-LD -->
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Organization",
  "url": "https://search.madarth.com/",
  "name": "SearchMadarth®",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "India",
    "addressLocality": "Chennai",
    "addressRegion": "Mylapore",
    "postalCode": "600004",
    "streetAddress": "4, Alamelu Manga Puram Rd, Saradapuram",
    "email": "business@madarth.com",
    "description": ""
  }
}
</script>

<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5Q238HZ');
</script>

<!-- Microsoft Clarity -->
<script type="text/javascript">
(function(c,l,a,r,i,t,y){
c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
})(window, document, "clarity", "script", "o1f6hi1d2u");
</script>

  {{!-- Ghost injects SEO, canonical, structured data, code injection, custom fonts, favicon, etc. --}}
  {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{> header}}

 
    {{{body}}}
 

   <div class="whatsapp-icon-right">
      <a target="_blank" class="whatsappLink"
        href="https://api.whatsapp.com/send?phone=916374115422&amp;text=Hi there! I'm looking for a digital partner for my brand! I would like to know more about The SearchMadarth®!"><svg
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18.224" height="18.299"
          viewBox="0 0 18.224 18.299">
          <defs>
            <linearGradient id="linear-gradient" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#20b038" />
              <stop offset="1" stop-color="#60d66a" />
            </linearGradient>
            <linearGradient id="linear-gradient-2" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#f9f9f9" />
              <stop offset="1" stop-color="#fff" />
            </linearGradient>
            <filter id="Path_2434" x="0" y="0" width="18.224" height="18.299" filterUnits="userSpaceOnUse">
              <feOffset dy="0.5" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="0.25" result="blur" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g id="Group_1240" data-name="Group 1240" transform="translate(-393.661 -293.601)">
            <path id="shape_3" data-name="shape 3"
              d="M438.058,348.995l1.141-4.164a8.039,8.039,0,1,1,6.966,4.025h0a8.035,8.035,0,0,1-3.841-.978Z"
              transform="translate(-43.358 -38.635)" fill="url(#linear-gradient)" />
            <g transform="matrix(1, 0, 0, 1, 393.66, 293.6)" filter="url(#Path_2434)">
              <path id="Path_2434-2" data-name="Path 2434"
                d="M430.8,342.29l1.181-4.314a8.328,8.328,0,1,1,7.216,4.169h0a8.321,8.321,0,0,1-3.979-1.013Zm4.619-2.665.253.15a6.912,6.912,0,0,0,3.523.965h0a6.92,6.92,0,1,0-5.863-3.243l.165.262-.7,2.553Z"
                transform="translate(-430.05 -325.24)" fill="url(#linear-gradient-2)" />
            </g>
            <path id="Path_2435" data-name="Path 2435"
              d="M537.293,438.056c-.156-.346-.32-.353-.468-.359-.121-.005-.26,0-.4,0a.764.764,0,0,0-.555.26,2.332,2.332,0,0,0-.728,1.735,4.048,4.048,0,0,0,.85,2.152,8.541,8.541,0,0,0,3.554,3.141c1.758.693,2.115.555,2.5.521a2.1,2.1,0,0,0,1.4-.989,1.738,1.738,0,0,0,.121-.989c-.052-.087-.191-.139-.4-.243s-1.231-.607-1.422-.677-.329-.1-.468.1-.537.677-.659.815-.243.156-.451.052a5.692,5.692,0,0,1-1.673-1.033,6.265,6.265,0,0,1-1.157-1.441c-.121-.208-.013-.321.091-.425s.208-.243.312-.364a1.421,1.421,0,0,0,.208-.347.383.383,0,0,0-.017-.364C537.882,439.5,537.478,438.468,537.293,438.056Z"
              transform="translate(-136.566 -139.361)" fill="#fff" fill-rule="evenodd" />
          </g>
        </svg>
      </a>
    </div>
      <div class="mobile--quick--navigation">
      <nav>
        <a  class="emailLink"  href="mailto:business@madarth.com">Email Us</a>
        <a class="whatsappLink" href="https://api.whatsapp.com/send?phone=916374115422&amp;text=Hi there! I'm looking for a digital partner for my brand! I would like to know more about The SearchMadarth®!">Whatsapp Us</a>
      </nav>
    </div>

  {{> footer}}

  {{!-- Your compiled JS bundle --}}
  <script src="{{asset "built/theme.js"}}" defer></script>

  {{ghost_foot}}
</body>
</html>
